doctype html
.container
    .row
        .col-md-12.mb-5
            h4.mb-3 Thank-you! Your responses have been successfully saved.

            //p.mb-1  Please continue to check your CCC email for notifications about availability and shipping.

            br
            p Thank you for your response.  A City Colleges representative will be reaching out to you in the coming weeks.
            //p Dear City Colleges of Chicago Student,
            //br
            //p  Thank you for submitting your response.  A representative from our non-profit partner, All Chicago, will reach out to you in the coming days.  We appreciate your patience as we work to get back to many students.  In this challenging time, please know that we are committed to your success and want to ensure you can continue to reach your academic goals.
            //br
            //br
            //| <strong>City Colleges of Chicago</strong>
            //br
            //| Covid Emergency Alt Fund
            //br
            //| covid19@ccc.edu







